<div class='mr10 float-right'>
 ​<%= link_to bookmarks_path(recipe_id: recipe.id), id: "js-bookmark-button-for-recipe-#{recipe.id}",class: 'float-right',  method: :post  do %>
    <%= icon 'far', 'star' %>
 ​<% end %>
</div>