<div class ="float-left">
 ​<%= link_to bookmarks_path(recipe_id: recipe.id), method: :post, id: "js-bookmark-button-for-recipe-#{recipe.id}" do %>
    <h4><i class="far fa-star"></i></h4>
 ​<% end %>
</div>