<div class ="nested-fields">
  <%= f.hidden_field :_destroy %>
  <div class ="foodstuff_input">
    <%= f.text_field :name, placeholder:"材料", class:"foodstuff_name" %>
    <%= f.text_field :amount, placeholder:"分量", class:"foodstuff_amount" %>
    <%= link_to '' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </div>
</div>