<div class ="nested-fields">
  <%= f.hidden_field :_destroy %>
  <div class ="cstep_input">
    <p class ="step_number"></p>
    <%= f.text_area :direction, class:"step_input" %>
    <%= link_to '#', class:"remove-field-btn" do %>
      <%= image_tag 'delete', class:"js-remove_fields" %>
    <% end %>
  </div>
</div>