<!--作り方のフォーム-->
<div class ="step-fields">
  <%= f.hidden_field :_destroy %>
  <p class ="step_number"></p>
    <%= f.text_area :direction, class:"step_input" %>

    <%= link_to '#', class:"remove-field-btn" do %>
      <i class ="fas fa-trash-alt js-remove_fields"></i>
    <% end %>
</div>

