<div class ='float-left'>
  <%= link_to bookmark_path(current_user.bookmarks.find_by(recipe_id: recipe.id)), method: :delete, id: "js-bookmark-button-for-recipe-#{recipe.id}" do %>
    <h4><i class="fas fa-star"></i></h4>
  <% end %>
</div>